# Imports

In [1]:
import data_prep_utils
import norm_utils

# Test sum_gene_exp_to_one

In [2]:
beat_rna = data_prep_utils.get_df("beat_rnaseq")
tcga_rna = data_prep_utils.get_df("tcga_rna")
beat_rna_t = data_prep_utils.transpose_df(beat_rna)
tcga_rna_t = data_prep_utils.transpose_df(tcga_rna)

In [3]:
beat_rna_t.head()

,SampleID,TSPAN6,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA,...,RP11-218F10.3,RP11-686O6.2,RP11-313P22.1,RP11-548H3.1,RP11-102N12.3,RP11-196O16.1,RP4-671G15.2,RP11-731C17.2,RP4-621B10.8,RP11-114I8.4
0,12-00066,0.070215,23.311415,10.532266,11.129094,906.792960,4.739520,43.849332,44.340838,57.435955,...,0.491506,0.140430,0.210645,1.509625,0.210645,0.315968,0.105323,1.298979,0.035108,0.561721
1,12-00150,1.709459,32.137834,17.778376,11.253940,49.004499,8.262386,84.589743,39.346054,32.052361,...,0.142455,0.626802,0.142455,1.310585,1.481531,1.082658,0.000000,0.626802,0.000000,0.170946
2,12-00211,0.000000,25.117470,37.659392,12.541923,111.834945,2.118341,59.078171,67.349788,77.470749,...,1.513101,0.302620,0.134498,2.051092,0.067249,0.975109,0.067249,2.622708,0.369869,1.613974
3,12-00258,0.000000,29.351673,15.647852,8.190423,1004.458236,30.403362,30.020930,44.011575,51.692089,...,0.286824,0.828603,0.127477,2.645156,0.573648,0.350563,0.063739,0.956081,0.382432,0.223085
4,12-00294,0.000000,31.240770,39.189992,18.875313,267.852800,2.388038,37.325360,56.429663,60.060789,...,1.962771,0.196277,0.228990,2.224474,0.425267,0.032713,0.228990,4.710650,0.817821,0.883247

In [4]:
tcga_rna_t.head()

,SampleID,A1BG,A1CF,A2BP1,A2LD1,A2M,A2ML1,A4GALT,A4GNT,AAA1,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,TCGA.AB.2803,21.786275,0.0,0.0,3.772166,24.673141,0.108692,0.597809,0.000000,0.0,...,21.150422,13.043071,1.739075,23.857949,179.831328,0.815192,58.530777,236.677376,131.463275,63.367583
1,TCGA.AB.2805,5.251160,0.0,0.0,3.007237,0.995091,0.207309,0.041459,0.165849,0.0,...,34.532453,23.301644,0.746316,22.057779,249.020739,0.165849,109.915751,358.065790,237.038225,70.982935
2,TCGA.AB.2806,10.866631,0.0,0.0,2.951634,0.406560,0.332639,1.034880,0.073922,0.0,...,42.643793,25.650289,3.917765,47.937217,221.649567,0.110880,43.502006,317.487043,213.666193,112.913030
3,TCGA.AB.2807,18.869409,0.0,0.0,2.491801,18.714176,0.054085,6.328205,0.270434,0.0,...,35.305970,39.321409,8.275342,49.597978,140.518592,0.270434,65.715969,192.983193,229.275720,75.938453
4,TCGA.AB.2808,8.199836,0.0,0.0,2.934105,15.931201,0.342311,11.345199,0.048899,0.0,...,55.243286,48.119281,2.493984,31.541600,192.037017,0.097804,98.488047,225.779196,180.007197,89.147819

In [10]:
beat_rna_sum_1 = norm_utils.sum_gene_exp_to_one(beat_rna_t)

In [11]:
for i in range(1, 5):
    print(beat_rna_sum_1.iloc[:, i].sum())
beat_rna_sum_1.head()

1.0
1.0
0.9999999999999998
0.9999999999999998

,SampleID,TSPAN6,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA,...,RP11-218F10.3,RP11-686O6.2,RP11-313P22.1,RP11-548H3.1,RP11-102N12.3,RP11-196O16.1,RP4-671G15.2,RP11-731C17.2,RP4-621B10.8,RP11-114I8.4
0,12-00066,0.000782,0.003928,0.002632,0.004891,0.013171,0.001509,0.004782,0.004736,0.004720,...,0.003404,0.001028,0.006223,0.004159,0.002921,0.002092,0.004358,0.002713,0.001219,0.004699
1,12-00150,0.019045,0.005416,0.004442,0.004945,0.000712,0.002631,0.009225,0.004203,0.002634,...,0.000987,0.004590,0.004208,0.003611,0.020541,0.007167,0.000000,0.001309,0.000000,0.001430
2,12-00211,0.000000,0.004233,0.009410,0.005511,0.001624,0.000674,0.006443,0.007194,0.006366,...,0.010479,0.002216,0.003973,0.005651,0.000932,0.006455,0.002783,0.005478,0.012841,0.013501
3,12-00258,0.000000,0.004946,0.003910,0.003599,0.014590,0.009680,0.003274,0.004701,0.004248,...,0.001986,0.006068,0.003766,0.007287,0.007953,0.002321,0.002637,0.001997,0.013277,0.001866
4,12-00294,0.000000,0.005265,0.009793,0.008295,0.003891,0.000760,0.004071,0.006027,0.004936,...,0.013594,0.001437,0.006765,0.006128,0.005896,0.000217,0.009475,0.009839,0.028393,0.007389

In [12]:
tcga_rna_sum_1 = norm_utils.sum_gene_exp_to_one(tcga_rna_t)

In [13]:
for i in range(1, 5):
    print(tcga_rna_sum_1.iloc[:, i].sum())
tcga_rna_sum_1.head()

1.0
1.0
1.0
1.0

,SampleID,A1BG,A1CF,A2BP1,A2LD1,A2M,A2ML1,A4GALT,A4GNT,AAA1,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,TCGA.AB.2803,0.012028,0.0,0.0,0.006236,0.017993,0.001416,0.000889,0.000000,0.0,...,0.003914,0.002194,0.002381,0.004551,0.005147,0.020104,0.005412,0.002941,0.003577,0.004913
1,TCGA.AB.2805,0.002899,0.0,0.0,0.004972,0.000726,0.002700,0.000062,0.009349,0.0,...,0.006391,0.003919,0.001022,0.004207,0.007127,0.004090,0.010163,0.004449,0.006449,0.005503
2,TCGA.AB.2806,0.005999,0.0,0.0,0.004880,0.000296,0.004333,0.001540,0.004167,0.0,...,0.007892,0.004315,0.005365,0.009144,0.006343,0.002734,0.004022,0.003945,0.005813,0.008754
3,TCGA.AB.2807,0.010418,0.0,0.0,0.004120,0.013647,0.000705,0.009415,0.015245,0.0,...,0.006534,0.006614,0.011331,0.009460,0.004021,0.006669,0.006076,0.002398,0.006238,0.005887
4,TCGA.AB.2808,0.004527,0.0,0.0,0.004851,0.011618,0.004459,0.016879,0.002756,0.0,...,0.010224,0.008094,0.003415,0.006016,0.005496,0.002412,0.009106,0.002805,0.004897,0.006912