# Imports

In [1]:
import data_prep_utils
import norm_utils

# Test sum_gene_exp_to_num (1)

In [2]:
beat_rna = data_prep_utils.get_df("beat_rnaseq")
tcga_rna = data_prep_utils.get_df("tcga_rna")
beat_rna_t = data_prep_utils.transpose_df(beat_rna)
tcga_rna_t = data_prep_utils.transpose_df(tcga_rna)

In [3]:
beat_rna_t.head()

,SampleID,TSPAN6,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA,...,RP11-218F10.3,RP11-686O6.2,RP11-313P22.1,RP11-548H3.1,RP11-102N12.3,RP11-196O16.1,RP4-671G15.2,RP11-731C17.2,RP4-621B10.8,RP11-114I8.4
0,12-00066,0.070215,23.311415,10.532266,11.129094,906.792960,4.739520,43.849332,44.340838,57.435955,...,0.491506,0.140430,0.210645,1.509625,0.210645,0.315968,0.105323,1.298979,0.035108,0.561721
1,12-00150,1.709459,32.137834,17.778376,11.253940,49.004499,8.262386,84.589743,39.346054,32.052361,...,0.142455,0.626802,0.142455,1.310585,1.481531,1.082658,0.000000,0.626802,0.000000,0.170946
2,12-00211,0.000000,25.117470,37.659392,12.541923,111.834945,2.118341,59.078171,67.349788,77.470749,...,1.513101,0.302620,0.134498,2.051092,0.067249,0.975109,0.067249,2.622708,0.369869,1.613974
3,12-00258,0.000000,29.351673,15.647852,8.190423,1004.458236,30.403362,30.020930,44.011575,51.692089,...,0.286824,0.828603,0.127477,2.645156,0.573648,0.350563,0.063739,0.956081,0.382432,0.223085
4,12-00294,0.000000,31.240770,39.189992,18.875313,267.852800,2.388038,37.325360,56.429663,60.060789,...,1.962771,0.196277,0.228990,2.224474,0.425267,0.032713,0.228990,4.710650,0.817821,0.883247

In [4]:
tcga_rna_t.head()

,SampleID,A1BG,A1CF,A2BP1,A2LD1,A2M,A2ML1,A4GALT,A4GNT,AAA1,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,TCGA.AB.2803,21.786275,0.0,0.0,3.772166,24.673141,0.108692,0.597809,0.000000,0.0,...,21.150422,13.043071,1.739075,23.857949,179.831328,0.815192,58.530777,236.677376,131.463275,63.367583
1,TCGA.AB.2805,5.251160,0.0,0.0,3.007237,0.995091,0.207309,0.041459,0.165849,0.0,...,34.532453,23.301644,0.746316,22.057779,249.020739,0.165849,109.915751,358.065790,237.038225,70.982935
2,TCGA.AB.2806,10.866631,0.0,0.0,2.951634,0.406560,0.332639,1.034880,0.073922,0.0,...,42.643793,25.650289,3.917765,47.937217,221.649567,0.110880,43.502006,317.487043,213.666193,112.913030
3,TCGA.AB.2807,18.869409,0.0,0.0,2.491801,18.714176,0.054085,6.328205,0.270434,0.0,...,35.305970,39.321409,8.275342,49.597978,140.518592,0.270434,65.715969,192.983193,229.275720,75.938453
4,TCGA.AB.2808,8.199836,0.0,0.0,2.934105,15.931201,0.342311,11.345199,0.048899,0.0,...,55.243286,48.119281,2.493984,31.541600,192.037017,0.097804,98.488047,225.779196,180.007197,89.147819

In [5]:
beat_rna_sum_1 = norm_utils.sum_gene_exp_to_num(beat_rna_t, 1)

In [6]:
for i in range(1, 5):
    print(beat_rna_sum_1.iloc[:, i].sum())
beat_rna_sum_1.head()

1.0
1.0
0.9999999999999998
0.9999999999999998

,SampleID,TSPAN6,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA,...,RP11-218F10.3,RP11-686O6.2,RP11-313P22.1,RP11-548H3.1,RP11-102N12.3,RP11-196O16.1,RP4-671G15.2,RP11-731C17.2,RP4-621B10.8,RP11-114I8.4
0,12-00066,0.000782,0.003928,0.002632,0.004891,0.013171,0.001509,0.004782,0.004736,0.004720,...,0.003404,0.001028,0.006223,0.004159,0.002921,0.002092,0.004358,0.002713,0.001219,0.004699
1,12-00150,0.019045,0.005416,0.004442,0.004945,0.000712,0.002631,0.009225,0.004203,0.002634,...,0.000987,0.004590,0.004208,0.003611,0.020541,0.007167,0.000000,0.001309,0.000000,0.001430
2,12-00211,0.000000,0.004233,0.009410,0.005511,0.001624,0.000674,0.006443,0.007194,0.006366,...,0.010479,0.002216,0.003973,0.005651,0.000932,0.006455,0.002783,0.005478,0.012841,0.013501
3,12-00258,0.000000,0.004946,0.003910,0.003599,0.014590,0.009680,0.003274,0.004701,0.004248,...,0.001986,0.006068,0.003766,0.007287,0.007953,0.002321,0.002637,0.001997,0.013277,0.001866
4,12-00294,0.000000,0.005265,0.009793,0.008295,0.003891,0.000760,0.004071,0.006027,0.004936,...,0.013594,0.001437,0.006765,0.006128,0.005896,0.000217,0.009475,0.009839,0.028393,0.007389

In [7]:
tcga_rna_sum_1 = norm_utils.sum_gene_exp_to_num(tcga_rna_t, 1)

In [8]:
for i in range(1, 5):
    print(tcga_rna_sum_1.iloc[:, i].sum())
tcga_rna_sum_1.head()

1.0
1.0
1.0
1.0

,SampleID,A1BG,A1CF,A2BP1,A2LD1,A2M,A2ML1,A4GALT,A4GNT,AAA1,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,TCGA.AB.2803,0.012028,0.0,0.0,0.006236,0.017993,0.001416,0.000889,0.000000,0.0,...,0.003914,0.002194,0.002381,0.004551,0.005147,0.020104,0.005412,0.002941,0.003577,0.004913
1,TCGA.AB.2805,0.002899,0.0,0.0,0.004972,0.000726,0.002700,0.000062,0.009349,0.0,...,0.006391,0.003919,0.001022,0.004207,0.007127,0.004090,0.010163,0.004449,0.006449,0.005503
2,TCGA.AB.2806,0.005999,0.0,0.0,0.004880,0.000296,0.004333,0.001540,0.004167,0.0,...,0.007892,0.004315,0.005365,0.009144,0.006343,0.002734,0.004022,0.003945,0.005813,0.008754
3,TCGA.AB.2807,0.010418,0.0,0.0,0.004120,0.013647,0.000705,0.009415,0.015245,0.0,...,0.006534,0.006614,0.011331,0.009460,0.004021,0.006669,0.006076,0.002398,0.006238,0.005887
4,TCGA.AB.2808,0.004527,0.0,0.0,0.004851,0.011618,0.004459,0.016879,0.002756,0.0,...,0.010224,0.008094,0.003415,0.006016,0.005496,0.002412,0.009106,0.002805,0.004897,0.006912

# Test sum_gene_exp_to_num (mill)

In [9]:
beat_rna_sum_mil = norm_utils.sum_gene_exp_to_num(beat_rna_t, 1000000)
tcga_rna_sum_mil = norm_utils.sum_gene_exp_to_num(tcga_rna_t, 1000000)

In [10]:
for i in range(1, 5):
    print(beat_rna_sum_mil.iloc[:, i].sum())
beat_rna_sum_mil.head()

999999.9999999999
1000000.0
999999.9999999998
999999.9999999998

,SampleID,TSPAN6,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA,...,RP11-218F10.3,RP11-686O6.2,RP11-313P22.1,RP11-548H3.1,RP11-102N12.3,RP11-196O16.1,RP4-671G15.2,RP11-731C17.2,RP4-621B10.8,RP11-114I8.4
0,12-00066,782.280658,3928.460512,2631.811003,4890.622319,13171.110842,1509.054705,4782.055886,4736.174239,4719.859026,...,3404.046892,1028.460342,6222.807809,4159.066758,2920.514651,2091.759272,4357.962441,2713.258672,1218.846544,4698.972070
1,12-00150,19045.431120,5415.896716,4442.475018,4945.485352,711.787276,2630.729376,9225.063571,4202.666812,2633.935959,...,986.607618,4590.470489,4208.352442,3610.706840,20540.851524,7167.368781,0.000000,1309.239554,0.000000,1430.016648
2,12-00211,0.000000,4232.818530,9410.359206,5511.482467,1624.395555,674.475999,6442.860166,7193.827260,6366.238987,...,10479.359688,2216.280894,3973.286339,5650.826929,932.379822,6455.381692,2782.575493,5478.211733,12840.929183,13501.401535
3,12-00258,0.000000,4946.370325,3910.097804,3599.238881,14589.692844,9680.377089,3273.978302,4701.004690,4247.850883,...,1986.473121,6068.391495,3765.891595,7287.494053,7953.409235,2320.783156,2637.332637,1997.024604,13277.091909,1866.180325
4,12-00294,0.000000,5264.722598,9792.826721,8294.658012,3890.545105,760.347083,4070.574070,6027.416860,4935.557470,...,13593.664813,1437.462807,6764.738073,6128.499529,5896.160529,216.564367,9474.975075,9839.426285,28392.710053,7388.639095

In [11]:
for i in range(1, 5):
    print(tcga_rna_sum_mil.iloc[:, i].sum())
tcga_rna_sum_mil.head()

1000000.0000000002
1000000.0000000001
999999.9999999998
1000000.0

,SampleID,A1BG,A1CF,A2BP1,A2LD1,A2M,A2ML1,A4GALT,A4GNT,AAA1,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,TCGA.AB.2803,12028.095113,0.0,0.0,6236.388040,17992.509528,1415.860372,889.397454,0.000000,0.0,...,3914.350218,2193.918529,2381.305418,4550.739325,5146.571926,20103.701976,5411.828400,2940.613175,3576.698393,4912.848385
1,TCGA.AB.2805,2899.139627,0.0,0.0,4971.757645,725.654498,2700.487684,61.681535,9349.170162,0.0,...,6390.988936,3919.468694,1021.926445,4207.369301,7126.695658,4090.064997,10162.946941,4448.811282,6449.057638,5503.261785
2,TCGA.AB.2806,5999.413196,0.0,0.0,4879.830578,296.477830,4333.086034,1539.654893,4167.067712,0.0,...,7892.170491,4314.524147,5364.572024,9143.693570,6343.363241,2734.434914,4022.249561,3944.638045,5813.178851,8754.075388
3,TCGA.AB.2807,10417.707305,0.0,0.0,4119.605270,13647.025197,704.527567,9414.864794,15244.734930,0.0,...,6534.145229,6614.084012,11331.375388,9460.472274,4021.485281,6669.250388,6076.180166,2397.732016,6237.864515,5887.459966
4,TCGA.AB.2808,4527.088898,0.0,0.0,4850.851485,11617.584099,4459.077283,16878.959712,2756.497816,0.0,...,10223.983505,8093.936048,3414.997789,6016.342762,5495.885115,2411.972975,9106.327209,2805.208048,4897.424405,6911.573656

# Test gene_exp_log_trans

In [19]:
beat_rna_log_1 = norm_utils.gene_exp_log_trans(beat_rna_sum_1, 1)
beat_rna_log_mill = norm_utils.gene_exp_log_trans(beat_rna_sum_mil, 1000000)

tcga_rna_log_1 = norm_utils.gene_exp_log_trans(tcga_rna_sum_1, 1)
tcga_rna_log_mill = norm_utils.gene_exp_log_trans(tcga_rna_sum_mil, 1000000)

In [20]:
beat_rna_log_1.iloc[:, :10].describe()

,TSPAN6,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA
count,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000
mean,-10.440103,-7.668254,-7.776834,-7.836124,-8.469057,-9.867382,-7.753349,-7.775939,-7.741449
std,3.636375,0.351925,0.689985,0.806547,1.763764,2.558528,0.645035,0.675910,0.599525
min,-16.609640,-8.913598,-10.103207,-10.937713,-13.994972,-15.350899,-10.728498,-9.909209,-10.220029
25%,-11.782581,-7.848204,-8.173271,-8.241959,-9.663103,-11.899973,-8.025675,-8.224666,-8.134516
50%,-9.566653,-7.668087,-7.701110,-7.794835,-8.355751,-10.234997,-7.711738,-7.722855,-7.698297
75%,-8.064025,-7.460598,-7.357141,-7.321347,-7.040121,-7.983975,-7.408922,-7.320215,-7.279294
max,-2.870069,-6.384127,-6.206267,-5.852739,-5.346882,-3.696778,-6.354627,-6.047619,-6.428225

In [21]:
beat_rna_log_mill.iloc[:, :10].describe()

,TSPAN6,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA
count,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000
mean,9.491466,12.263315,12.154735,12.095445,11.462512,10.064187,12.178220,12.155630,12.190120
std,3.636375,0.351925,0.689985,0.806547,1.763764,2.558528,0.645035,0.675910,0.599525
min,3.321928,11.017971,9.828361,8.993855,5.936597,4.580669,9.203071,10.022359,9.711540
25%,8.148987,12.083364,11.758298,11.689609,10.268466,8.031595,11.905893,11.706902,11.797052
50%,10.364915,12.263482,12.230459,12.136734,11.575818,9.696571,12.219831,12.208713,12.233272
75%,11.867543,12.470971,12.574427,12.610221,12.891447,11.947593,12.522647,12.611354,12.652275
max,17.061499,13.547441,13.725302,14.078830,14.584686,16.234790,13.576942,13.883950,13.503344

In [23]:
tcga_rna_log_1.iloc[:, :10].describe()

,A1BG,A1CF,A2BP1,A2LD1,A2M,A2ML1,A4GALT,A4GNT,AAA1
count,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
mean,-7.577354,-16.340098,-15.757521,-7.553585,-9.308843,-8.566386,-9.173389,-10.773140,-16.340518
std,0.767855,1.999165,3.105598,0.716513,2.603846,2.379893,2.755031,4.601538,1.996403
min,-10.826929,-16.609640,-16.609640,-9.924893,-16.609640,-16.609640,-16.609640,-16.609640,-16.609640
25%,-7.982267,-16.609640,-16.609640,-7.948659,-11.235032,-9.459544,-10.546656,-16.609640,-16.609640
50%,-7.551616,-16.609640,-16.609640,-7.496725,-9.168487,-8.121712,-8.924631,-8.484137,-16.609640
75%,-7.108832,-16.609640,-16.609640,-7.050883,-7.417155,-7.204199,-7.238596,-7.152612,-16.609640
max,-5.453538,-1.271908,-1.061258,-5.052542,-3.111297,-2.862518,-3.743838,-3.726895,-1.315514

In [24]:
tcga_rna_log_mill.iloc[:, :10].describe()

,A1BG,A1CF,A2BP1,A2LD1,A2M,A2ML1,A4GALT,A4GNT,AAA1
count,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
mean,12.354215,3.591471,4.174048,12.377983,10.622726,11.365183,10.758179,9.158429,3.591051
std,0.767855,1.999165,3.105598,0.716513,2.603846,2.379893,2.755031,4.601538,1.996403
min,9.104639,3.321928,3.321928,10.006675,3.321928,3.321928,3.321928,3.321928,3.321928
25%,11.949302,3.321928,3.321928,11.982910,8.696536,10.472024,9.384912,3.321928,3.321928
50%,12.379952,3.321928,3.321928,12.434843,10.763082,11.809856,11.006938,11.447432,3.321928
75%,12.822736,3.321928,3.321928,12.880686,12.514414,12.727370,12.692973,12.778957,3.321928
max,14.478031,18.659660,18.870310,14.879026,16.820271,17.069050,16.187731,16.204673,18.616055